#include"resources.h"

POPUPMENU  MENU
BEGIN
POPUP "MyMenu"

	BEGIN
	  POPUP "&File"
	  BEGIN
			MENUITEM "&New",ID_FILE_NEW
			MENUITEM "&Open",ID_FILE_OPEN
			MENUITEM "&Save",ID_FILE_SAVE
			MENUITEM "&Save As...",ID_FILE_SAVEAS
			MENUITEM SEPARATOR
			MENUITEM "&Exit",ID_APP_EXIT
	  END
	  POPUP "&Edit"
	  BEGIN
			MENUITEM "&Undo",ID_EDIT_UNDO
			MENUITEM SEPARATOR
			MENUITEM "&Cut",ID_EDIT_CUT
			MENUITEM "&Copy",ID_EDIT_COPY
			MENUITEM "&Paste",ID_EDIT_PASTE
			MENUITEM "&Delete",ID_EDIT_DELETE
	  END
	  POPUP "&Background"
	  BEGIN
		   MENUITEM "&White",ID_BKG_WHITE,CHECKED
		   MENUITEM "&Gray",ID_BKG_GRAY
		   MENUITEM "&Lightgray",ID_BKG_LIGHTGRAY
		   MENUITEM "&Darkgray",ID_BKG_DARKGRAY
		   MENUITEM "Black",ID_BKG_BLACK
	  END
	  POPUP "&Timer"
	  BEGIN
		   MENUITEM "&Begin",ID_TIMER_BEGIN
		   MENUITEM "&End",ID_TIMER_END,GRAYED
	  END
	  POPUP "&Help"
	  BEGIN
		   MENUITEM "&Help...",ID_APP_HELP
		   MENUITEM "&About zeng...",ID_APP_ABOUT

	  END
	END
END
