#include"afxres.h"
ABOUT DIALOG  32,32,180,102
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MAXIMIZEBOX|WS_MINIMIZEBOX
CAPTION "My dialog"
MENU ABOUT1
BEGIN
CONTROL "È¡Ïû",10,"EllipPush",WS_TABSTOP,88,81,50,14

DEFPUSHBUTTON "OK",IDOK,26,81,50,14
ICON "ABOUT",-1,8,8,0,0
LTEXT "About1",-1,80,16,40,8
LTEXT "About Box Demo Program",-1,40,24,80,8
LTEXT "(c)Zeng ,1998",-1,40,32,80,8
CHECKBOX "ZENG",11,40,40,80,8
EDITTEXT 12,40,48,80,16
CONTROL "CANCEL",IDCANCEL,"button",WS_CHILD|WS_VISIBLE|BS_RADIOBUTTON,40,64,80,16
END
ABOUT MENU
BEGIN
 POPUP "&Help"
 BEGIN
 MENUITEM "&About...",1
 END
END


ABOUT1 MENU
BEGIN
 POPUP "&Help"
 BEGIN
 MENUITEM "&About...",2
 END
END


ABOUT ICON "998.ico"