#include"resource.h"
#include "afxres.h"
POPADMENU MENU
BEGIN
    POPUP "文件(&F)"
    BEGIN
        MENUITEM "新建(&N)\tCtrl+N",              IDM_FILE_NEW
        MENUITEM "打开(&O)\tCtrl+O",              IDM_FILE_OPEN
        MENUITEM "保存(&S)\tCtrl+S",              IDM_FILE_SAVE
        MENUITEM "另存为(&A)...",                  IDM_FILE_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "页面设置(&U)...",                 IDM_FILE_PAGESET
        MENUITEM "打印(&P)\tCtrl+P",              IDM_FILE_PRINT
        MENUITEM "退出(&X)",                      IDM_APP_EXIT
    END
    POPUP "编辑(&E)"
    BEGIN
        MENUITEM "撤销(&U)\tCtrl+Z",              IDM_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "剪切(&T)\tCtrl+X",              IDM_EDIT_CUT
        MENUITEM "复制(&C)\tCtrl+C",              IDM_EDIT_COPY
        MENUITEM "粘贴(&P)\tCtrl+V",              IDM_EDIT_PASTE
        MENUITEM "删除(&L)\tDel",                 IDM_EDIT_DELETE
        MENUITEM SEPARATOR
        MENUITEM "查找(&F)...\tCtrl+F",           IDM_EDIT_FIND
        MENUITEM "查找下一个(&N)\tF3",               IDM_EDIT_FINDNEXT
        MENUITEM "替换(&R)...\tCtrl+H",           IDM_EDIT_REPLACE
        MENUITEM "转到(&G)...\tCtrl+G",           IDM_EDIT_GOTO
        MENUITEM SEPARATOR
        MENUITEM "全选(&A)\tCtrl+A",              IDM_EDIT_SELECTALL
        MENUITEM "时间/日期(&D)\tF5",               IDM_EDIT_TIMEDATE
    END
    POPUP "格式(&O)"
    BEGIN
        MENUITEM "自动换行(&W)",                    IDM_FORMAT_AUTOLINE
        MENUITEM "字体(&F)...",                   IDM_FORMAT_FONT
        POPUP  "颜色(&C)..."
		    BEGIN 
			MENUITEM "字体颜色\tAlt+F",IDM_FONTCOLOR
			MENUITEM "背景颜色\tAlt+C",IDM_BKCOLOR
			END
    END
    POPUP "查看(&V)"
    BEGIN
        MENUITEM "状态栏(&S)",                     IDM_LOOKUP_STATE,CHECKED
    END
    POPUP "帮助(&H)"
    BEGIN
        MENUITEM "帮助主题(&H)",                    IDM_APP_HELP
        MENUITEM SEPARATOR
        MENUITEM "关于记事本(&A)",                   IDM_APP_ABOUT
    END
END
//记事本快捷键（加速键)
POPAD ACCELERATORS
BEGIN
    VK_DELETE,      IDM_EDIT_DELETE,        VIRTKEY 
    VK_F1,          IDM_APP_HELP,           VIRTKEY 
    VK_F3,          IDM_EDIT_FINDNEXT,      VIRTKEY 
    VK_F5,          IDM_EDIT_TIMEDATE,      VIRTKEY 
    "^N",           IDM_FILE_NEW,           ASCII   
    "^O",           IDM_FILE_OPEN,          ASCII   
    "^S",           IDM_FILE_SAVE,          ASCII   
    "^P",           IDM_FILE_PRINT,         ASCII   
    "^A",           IDM_EDIT_SELECTALL,     ASCII   
    "^C",           IDM_EDIT_COPY,          ASCII   
    "^X",           IDM_EDIT_CUT,           ASCII   
    "^Z",           IDM_EDIT_UNDO,          ASCII   
    "^V",           IDM_EDIT_PASTE,         ASCII   
    "^F",           IDM_EDIT_FIND,          ASCII   
    "^G",           IDM_EDIT_GOTO,          ASCII   
	"H",           IDM_EDIT_REPLACE,VIRTKEY,CONTROL
	"F",           IDM_FONTCOLOR,VIRTKEY,ALT
	"C",           IDM_BKCOLOR,VIRTKEY,ALT

END

IDD_DIALOGPRINTER DIALOGEX 320,160, 189, 78//打印对话框资源
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
PUSHBUTTON      "取消打印", IDCANCEL, 62, 31, 50, 14
END

POPAD ICON "notepad.ico"


IDD_DIALOGHELP DIALOGEX 200, 40, 309, 176//帮助对话框
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU|WS_CHILD
CAPTION "记事本帮助与支持"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
EDITTEXT        ID_EDITHELP, 7, 7, 295, 162, ES_MULTILINE  |  ES_READONLY | NOT WS_BORDER | WS_VSCROLL
END


IDD_DIALOGGOTO DIALOGEX 200, 40, 223, 98//转到对话框
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "转到指定行"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
DEFPUSHBUTTON   "转到", IDC_GOTO, 58, 63, 56, 18, WS_GROUP | NOT WS_TABSTOP
PUSHBUTTON      "取消", IDC_CANCELGOTO, 139, 63, 50, 18, NOT WS_TABSTOP
EDITTEXT        IDC_EDITGOTO, 14, 32, 177, 19, ES_AUTOHSCROLL
LTEXT           "行号(L):", IDC_STATIC, 15, 14, 82, 17
END